body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16pt;
    background-color: MediumVioletRed; 
    color: #DC143C;
    padding: 3pt;
}

#main {
    padding: 5pt;
    padding-left:  15pt;
    padding-right: 15pt;
    background-color: #DB7093;
    border-radius: 0 0 5pt 5pt;
}

h2 {
    font-family: Georgia, serif;
    border-bottom: 3pt solid #cc9900;
    color: #191970;
    font-size: 30pt;
    text-align: center;
    box-shadow: 10pt 10pt 5pt #DC143C;
}

h3 {
	font-family: Georgia, serif;
    border-bottom: 3pt solid #cc9900;
    color: #191970;
    font-size: 30pt;
    text-align: center;
    box-shadow: 10pt 10pt 5pt #DC143C;
}

h4 {
	font-family: Georgia, serif;
    border-bottom: 3pt solid #cc9900;
    color: #191970;
    font-size: 30pt;
    text-align: center;
    box-shadow: 10pt 10pt 5pt #DC143C;
}

p1 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16pt;
    color: #DF516E;
    padding: 3pt;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
 background-color:#191970 repeat;
  font-family: "Open Sans",  Impact;
}
.area{
  text-align:center;
  font-size:8em;
  color:#DC143C;
  letter-spacing: 0px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 2.5s ease-out infinite;
  text-shadow:0px 0px 5px #191970,
      0px 0px 7px #191970;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #D688A7,
      0px 0px 10px #D688A7, 
      0px 0px 25px #D688A7,
      0px 0px 25px #D688A7,
      0px 0px 25px #D688A7,
      0px 0px 25px #D688A7,
      0px 0px 25px #D688A7,
      0px 0px 25px #D688A7,
      0px 0px 50px #D688A7,
      0px 0px 50px #D688A7,
      0px 0px 50px #DB7093,
      0px 0px 150px #DB7093,
      0px 10px 100px #DB7093,
      0px 10px 100px #DB7093,
      0px 10px 100px #DB7093,
      0px 10px 100px #DB7093,
      0px -10px 100px #DB7093,
      0px -10px 100px #DB7093;}
}

.area1{
  text-align:center;
  font-size:2.5em;
  color:#191970;
  letter-spacing: 0px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 1.5s ease-out infinite;
  text-shadow:0px 0px 5px #DC143C,
      0px 0px 7px #DC143C;
  border-bottom: 3pt solid #DC143C;
}

.area2{
  text-align:center;
  font-size:2.5em;
  color:#191970;
  letter-spacing: 0px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 1.5s ease-out infinite;
  text-shadow:0px 0px 5px #DC143C,
      0px 0px 7px #DC143C;
  border-bottom: 3pt solid #DC143C;
}

.area3{
  text-align:center;
  font-size:2.5em;
  color:#191970;
  letter-spacing: 0px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 1.5s ease-out infinite;
  text-shadow:0px 0px 5px #DC143C,
      0px 0px 7px #DC143C;
  border-bottom: 3pt solid #DC143C;
}
